@model List<RealEstate.ViewModels.WebMVC.PropertySearchListViewModel>
@{
    ViewBag.Title = "Моите имотни търсения - Имоти СПРОПЪРТИС";
}

@section css{
    <style>
        .control-buttons {
            position: relative;
            float: right;
            font-size: 24px;
            right: -20px;
        }

        .delete-property-btn {
            cursor: pointer;
        }
    </style>
}

<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                @*<h2><span>Списък имоти</span></h2>*@
            </div>
        </div>
    </section>
    <!-- Begin Properties -->
    <section class="pgl-properties pgl-bg-grey">
        <div class="container">
            <h2>Моите имоти</h2>
            <div id="properties-filtering" class="properties-listing properties-listfull">

                @if (!Model.Any())
                {
                    <h1 align="center">Нямате имотни търсения</h1>
                }

                @* Properties horizontal *@
                @foreach (var propertySearch in Model)
                {
                    <div class="pgl-property">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="property-thumb-info" style="padding-left: 15px;">
                                    <div class="control-buttons">
                                        <a title="Редактирай" href="@Url.Action("Edit","PropertySearches", new { id = propertySearch.Id })"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a title="Изтрии" href="@Url.Action("Delete", "PropertySearches", new { id = propertySearch.Id })" class="delete-property-btn"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                    <div class="property-thumb-info-content">
                                        <h3 class="h3-one-line">
                                            <a class="clamp-two" href="@Url.Action("Details", "PropertySearches", new {id = propertySearch.Id})">
                                                <b>Търсене на @string.Join(", ", propertySearch.UnitTypes) - цена: @(propertySearch.PriceFrom != null ? propertySearch.PriceFrom + "лв. -" : "до ")@(propertySearch.PriceTo)лв.</b>
                                            </a>
                                        </h3>
                                        <address>
                                            <i class="fa fa-map-marker"></i>
                                            @propertySearch.CityName@(propertySearch.Areas != null ? " - " + propertySearch.Areas : "")
                                        </address>
                                        <p class="clamp-four">@propertySearch.AdditionalInformation</p>
                                    </div>
                                    <div class="amenities clearfix">
                                        <ul class="pull-left">
                                            @if (propertySearch.AreaInSquareMeters != null)
                                            {
                                                <li><strong>Площ:</strong> @propertySearch.AreaInSquareMeters<sup>m2</sup></li>
                                            }
                                        </ul>
                                        <ul class="pull-right">
                                            <li title="Преглеждания"><i class="fa fa-eye"></i> @propertySearch.Views</li>&nbsp;
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script>
        $(document).ready(function() {

            var propertyToDelete = {};

            $(document).on('click',
                '.delete-property-btn',
                function(event) {
                    event.preventDefault ? event.preventDefault() : (event.returnValue = false);

                    //getting the property for which the delete is initiated
                    propertyToDelete = $(this).closest('.pgl-property');

                    var link = this.href;
                    createAndShowModal({
                        title: 'Изтриване на търсене',
                        body: '<div style="text-align:center;"> \
                                    <label style="font-size: 1.571em;">Найстина ли искате да изтриете имотното търсене от системата ?</label> \
                                </div>',
                        footer: '<button id="modal-cancel-btn" class="btn btn-primary pull-right">Отказ</button> \
                                    <form method="post" id="modal-delete-form" action="' +
                            link +
                            '">' +
                            '@Html.AntiForgeryToken()' +
                            '<button id="modal-delete-btn" class="btn btn-primary pull-right" style="margin-right:5px;">Изтрии</button> \
                                 </form>'
                    });
                });

            $(document).on('submit',
                '#modal-delete-form',
                function(event) {
                    event.preventDefault ? event.preventDefault() : (event.returnValue = false);
                    removeClosestModal(this);

                    var thisForm = $(this);

                    $.ajax({
                        url: this.action,
                        method: this.method,
                        data: thisForm.serialize(),
                        success: function (data) {
                            if (data === "STATUS_OK") {
                                //removing the property from the DOM
                                propertyToDelete.remove();
                                //Message
                                window.alertify.success("Изтрит успешно!");
                            } else {
                                window.alertify.error("Проблем при изтриване!");
                            }
                        },
                        error: function () {
                            window.alertify.error("Проблем при изтриване!");
                        }
                    });

                });

            $(document).on('click',
                '#modal-cancel-btn',
                function() {
                    removeClosestModal(this);
                });
        })
    </script>
}