@using RealEstate.Services.Helpers
@model List<RealEstate.ViewModels.WebMVC.PropertyBriefInfoViewModel>

<section class="pgl-featured">
    <div class="container">
        <h2>Специални предложения</h2>
        <div class="row">
            <div class="owl-carousel pgl-pro-slide owl-theme owl-carousel-init" data-plugin-options='{"items": 4, "singleItem": false,"autoPlay": false, "pagination": false}' style="display: block; opacity: 1;">
                @foreach (var property in Model)
                {
                    <div class="owl-item">
                        <div class="col-md-12 animation">
                            <div class="pgl-property featured-item">
                                <div class="property-thumb-info">
                                    <a style="display: block;" href="@Url.Action("Details", "Properties", new {id = property.PropertyId})" class="property-thumb-info-image">
                                        <picture >
                                            <source srcset="@(FileHelpers.ChangeFileExtension(property.ImagePath.Replace(" ", "%20"), ".webp"))" type="image/webp">
                                            <source srcset="@property.ImagePath.Replace(" ", "%20")" type="@MimeMapping.GetMimeMapping(property.ImagePath.Replace(" ", "%20"))">
                                            <img alt="Снимка" class="img-responsive" style="height: 192.867px; width: 100%;" src="@property.ImagePath.Replace(" ", "%20")">
                                        </picture>
                                    </a>
                                    <div class="property-thumb-info-content">
                                        <h3>
                                            <a href="@Url.Action("Details", "Properties", new {id = property.PropertyId})">@property.FullAddress</a>
                                        </h3>
                                        <p class="clamp-one">@property.PropertyName</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>