@using RealEstate.Model
@using RealEstate.Services.Helpers
@using RealEstate.ViewModels.WebMVC
@using RealEstate.WebAppMVC.Helpers
@model List<PropertyInfoViewModel>

@{
    string pageListingType = ViewBag.SearchParams.IsForRent ?? false ? (ViewBag.SearchParams.IsShortPeriodRent ?? false ? "за почивка" : "отдавани под наем") : "за продажба";
    ViewBag.Title = ViewBag.PropertiesTitle + " имоти " + pageListingType;
}

@section css{
    <style>
        .regular-image-container {
            height: 240px;
        }

            .regular-image-container > .regular-image {
                height: 264px;
            }
    </style>
}

@section meta{
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="@ViewBag.Title">
    <meta name="keywords" content="Property-Details,property,имот,недвижимо имущество,имущество">
}



<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                @*<h2><span>Списък имоти</span></h2>*@
            </div>
        </div>
    </section>
    <!-- End page top -->
    <!-- Begin Advanced Search -->
    @Html.Partial("AdvancedSearchHorizontal_Partial")
    <!-- End Advanced Search -->
    <!-- Begin Featured -->
    @Html.Partial("FeaturedProperties", (List<PropertyBriefInfoViewModel>)ViewBag.FeaturedProperties)
    <!-- End Featured -->
    <!-- Begin Properties -->
    <section class="pgl-properties pgl-bg-grey">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <div id="properties-filtering">
                <div class="listing-header clearfix">
                    <ul class="list-inline list-icons pull-left">
                        <li class="active"><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams, viewType:"ListProperties"))"><i class="fa fa-th"></i></a></li>
                        <li><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams, viewType:"ListPropertiesFullWidth"))"><i class="fa fa-th-list"></i></a></li>
                        <li><a href="@Url.HrefWithList("Map", "Properties", new SearchMapViewModel(ViewBag.SearchParams))"><i class="fa fa-map-marker"></i></a></li>
                    </ul>
                    <ul class="list-inline list-sort pull-right">
                        <li><label for="filter-status">Град</label></li>
                        <li class="min-width">
                            <select id="filter-city" name="filter-status" data-placeholder="Filter" class="chosen-select filter-status" onChange="location = this.value + '#properties-filtering'" style="width: 100px;">
                                <option value="@Url.HrefWithList("Index", "Properties",  new SearchAllViewModel(model:ViewBag.SearchParams, pageCount:1, cityId: -1 @*TODO: find way to set to null*@))">Градове</option>
                                @foreach (var city in ViewBag.Cities)
                                {
                                    <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, cityId: city.CityId))">@city.CityName</option>
                                }
                            </select>
                        </li>
                        <li><label for="filter-propertyType">Тип имот</label></li>
                        <li class="min-width">
                            <select id="filter-propertyType" name="filter-status" data-placeholder="Filter" class="chosen-select filter-status" onChange="location = this.value + '#properties-filtering'" style="width: 100px;">
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1,propertyType: -1))">Типове имоти</option>
                                @foreach (var propertyType in ViewBag.PropertyTypes)
                                {  /*------------------------------------------------------------*/
                                    <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1,propertyType:propertyType.PropertyTypeId))">@propertyType.PropertyTypeName</option>
                                }
                            </select>
                        </li>
                        <li><label for="sortby-status">Сортиране по</label></li>
                        <li class="min-width">
                            <select id="sortby-status" name="sortby-status" data-placeholder="Sort by" class="chosen-select filter-status" onChange="location=this.value + '#properties-filtering'">
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"PropertyName"))">Име</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"Price"))">Цена</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"Date"))">Дата</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"City"))">Град</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"Views"))">Преглеждания</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"ReviewScore"))">Оценка</option>
                            </select>
                        </li>
                        <li><label for="order-status">Подредба</label></li>
                        <li class="min-width">
                            <select id="order-status" name="order-status" data-placeholder="Order" class="chosen-select filter-status" onChange="location=this.value + '#properties-filtering'">
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, orderBy:"Descending"))">Намаляващ ред</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, orderBy:"Ascending"))">Нарастващ ред</option>
                            </select>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4 animation">
                            <div class="pgl-property">
                                <div class="property-thumb-info">
                                    <div class="property-thumb-info-image regular-image-container">
                                        <a href="@Url.HrefWithList("Details", "Properties", new {id = Model[i].PropertyId, isRentSearching = Model[i].Status != "Продажна"})">
                                            <picture >
                                                <source srcset="@(FileHelpers.ChangeFileExtension(Model[i].ImagePath.Replace(" ", "%20"), ".webp"))" type="image/webp">
                                                <source srcset="@Model[i].ImagePath.Replace(" ", "%20")" type="@MimeMapping.GetMimeMapping(Model[i].ImagePath.Replace(" ", "%20"))">
                                                <img alt="Снимка" class="img-responsive regular-image" src="@Model[i].ImagePath.Replace(" ", "%20")">
                                            </picture>
                                        </a>
                                        <div style="position: absolute; top: 3px; right: 3px;">
                                            @if (Model[i].IsGreen)
                                            {
                                                @* info mark top right *@
                                                <a href="#" title="На зелено">
                                                    <i style="font-size: 22px; color: #0bb649;" class="fa fa-info-circle"></i>
                                                </a>
                                            }
                                            @if (Model[i].IsRentable && ViewBag.SearchParams.IsForRent != true)
                                            {
                                                //TODO: Flip the prices on the image
                                                @* info mark top right *@
                                                <a href="@Url.HrefWithList("Details", "Properties", new {id = Model[i].PropertyId, isRentSearching = true})" title="Имотът се отдава под наем">
                                                    <i style="font-size: 22px; color: #fc6b4e;" class="fa fa-info-circle"></i>
                                                </a>
                                            }
                                            @if (Model[i].IsPartlyRented)
                                            {
                                                @* info mark top right *@
                                                <a href="@Url.HrefWithList("Details", "Properties", new {id = Model[i].PropertyId, isRentSearching = Model[i].Status != "Продажна"})" title="От имотът се дават под наем отделни части">
                                                    <i style="font-size: 22px; color: #880f0f;" class="fa fa-info-circle"></i>
                                                </a>
                                            }
                                        </div>

                                        <span class="property-thumb-info-label">
                                            @if ((PropertyState)Model[i].PropertyState != PropertyState.Available)
                                            {
                                                <span class="label price">@((PropertyState)Model[i].PropertyState == PropertyState.Sold ? "Продаден" : "Нает")</span>
                                            }
                                            else
                                            {
                                                <span class="label price">@(Model[i].Price.ToString("0"))лв.</span>
                                                <span class="label">@Model[i].Status</span>
                                            }
                                        </span>

                                    </div>
                                    <div class="property-thumb-info-content">
                                        <h3>
                                            <a class="clamp-two" title="@Model[i].PropertyName" href="@Url.HrefWithList("Details", "Properties", new {id = Model[i].PropertyId, isRentSearching = Model[i].Status != "Продажна"})">@Model[i].PropertyName</a>
                                        </h3>
                                        <address class="clamp-one"><i class="fa fa-map-marker"></i> @Model[i].FullAddress</address>
                                    </div>
                                    <div class="amenities clearfix">
                                        <ul class="pull-left">
                                            @*<li><strong>Площ:</strong> @Model[i].AreaInSquareFt<sup>m2</sup></li>*@
                                            @Html.Raw(Model[i].BottomLeft)
                                        </ul>
                                        <ul class="pull-right">
                                            <li title="Преглеждания"><i class="fa fa-eye"></i> @Model[i].Views</li>
                                            @Html.Raw(Model[i].BottomRight)
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <ul class="pagination">
                    @if (ViewBag.SearchParams.PageCount > 1)
                    {
                        <li><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount - 1))">@(ViewBag.SearchParams.PageCount - 1)</a></li>
                    }
                    <li class="active">
                        <a href="@Url.HrefWithList("Index","Properties", new SearchAllViewModel(model:ViewBag.SearchParams))">
                            @ViewBag.SearchParams.PageCount
                            <span class="sr-only">(текуща)</span>
                        </a>
                    </li>
                    @if (ViewBag.LastPage > ViewBag.SearchParams.PageCount)
                    {
                        <li><a href="@Url.HrefWithList("Index","Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount+1))">@(ViewBag.SearchParams.PageCount + 1)</a></li>
                        if (ViewBag.LastPage > ViewBag.SearchParams.PageCount + 1)
                        {
                            <li><a href="@Url.HrefWithList("Index","Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount+2))">@(ViewBag.SearchParams.PageCount + 2)</a></li>
                        }
                        <li><a href="@Url.HrefWithList("Index","Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount+1))">Следващ</a></li>
                    }
                </ul>
            </div>
        </div>
    </section>
    <!-- End Properties -->
</div>

@section scripts{
    <script type="text/javascript" language="javascript" src="/Scripts/propertiesFilteringPersistence.js"></script>
    <script>
        $(document).ready(function () {
            updateDropDownMenues('@ViewBag.SearchParams.IsForRent', '@ViewBag.SearchParams.IsShortPeriodRent',
                '@(ViewBag.SearchParams.From?.ToString("dd.MM.yyyy") ?? "")', '@(ViewBag.SearchParams.To?.ToString("dd.MM.yyyy") ?? "")',
                '@ViewBag.SearchParams.PropertyType',
                '@ViewBag.SearchParams.CityId', '@ViewBag.SearchParams.DistanceFromCity',
                '@ViewBag.SearchParams.AreaFrom', '@ViewBag.SearchParams.AreaTo',
                '@ViewBag.SearchParams.PriceFrom', '@ViewBag.SearchParams.PriceTo',
                JSON.parse('@Json.Encode(ViewBag.SearchParams.Extras)'),
                '@ViewBag.SearchParams.SortBy', '@ViewBag.SearchParams.OrderBy',
                '@ViewBag.SearchParams.PageSize', '@ViewBag.SearchParams.ViewType');
        });
    </script>

}