@using RealEstate.ViewModels.WebMVC
@using RealEstate.WebAppMVC.Helpers
@model List<PropertyInfoViewModel>

@{
    string pageListingType = ViewBag.SearchParams.IsForRent ?? false ? (ViewBag.SearchParams.IsShortPeriodRent ?? false ? "за почивка" : "отдавани под наем") : "за продажба";
    ViewBag.Title = ViewBag.PropertiesTitle + " имоти " + pageListingType;
}

@section css{
    <style>
        .regular-image-container {
            width: 360px;
            height: 240px;
        }

            .regular-image-container > .regular-image {
                width: 396px;
                height: 264px;
            }
    </style>
}

@section meta{
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="@ViewBag.Title">
    <meta name="keywords" content="Property-Details,property,имот,недвижимо имущество,имущество">
}

<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                @*<h2><span>List rows</span></h2>*@
            </div>
        </div>
    </section>
    <!-- End page top -->
    <!-- Begin Advanced Sell Search -->
    @Html.Partial("AdvancedSearchHorizontal_Partial")
    <!-- End Advanced Sell Search -->
    <!-- Begin Featured -->
    @Html.Partial("FeaturedProperties", (List<PropertyBriefInfoViewModel>)ViewBag.FeaturedProperties)
    <!-- End Featured -->
    <!-- Begin Properties -->
    <section class="pgl-properties pgl-bg-grey">
        <div class="container">
            <h2>@ViewBag.Title</h2>
            <div id="properties-filtering" class="properties-listing properties-listfull">
                <div class="listing-header clearfix">
                    <ul class="list-inline list-icons pull-left">
                        <li><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,viewType:"ListProperties"))"><i class="fa fa-th"></i></a></li>
                        <li class="active"><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,viewType:"ListPropertiesFullWidth"))"><i class="fa fa-th-list"></i></a></li>
                        <li><a href="@Url.HrefWithList("Map", "Properties", new SearchMapViewModel(ViewBag.SearchParams))"><i class="fa fa-map-marker"></i></a></li>
                    </ul>
                    <ul class="list-inline list-sort pull-right">
                        <li><label for="filter-status">Град</label></li>
                        <li class="min-width">
                            <select id="filter-city" name="filter-status" data-placeholder="Filter" class="chosen-select filter-status" onChange="location = this.value + '#properties-filtering'" style="width: 100px;">
                                <option value="@Url.HrefWithList("Index", "Properties",  new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, cityId: -1 @*TODO: find way to set to null*@))">Градове</option>
                                @foreach (var city in ViewBag.Cities)
                                {
                                    <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, cityId: city.CityId))">@city.CityName</option>
                                }
                            </select>
                        </li>
                        <li><label for="filter-propertyType">Тип имот</label></li>
                        <li class="min-width">
                            <select id="filter-propertyType" name="filter-status" data-placeholder="Filter" class="chosen-select filter-status" onChange="location = this.value + '#properties-filtering'" style="width: 100px;">
                                <option value="@Url.HrefWithList("Index", "Properties",new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1,propertyType: -1))">Типове имоти</option>
                                @foreach (var propertyType in ViewBag.PropertyTypes)
                                {  /*------------------------------------------------------------*/

                                    <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1,propertyType:propertyType.PropertyTypeId))">@propertyType.PropertyTypeName</option>
                                }
                            </select>
                        </li>
                        <li><label for="sortby-status">Сортиране по</label></li>
                        <li class="min-width">
                            <select id="sortby-status" name="sortby-status" data-placeholder="Sort by" class="chosen-select filter-status" onChange="location=this.value + '#properties-filtering'">
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"PropertyName"))">Име</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"Price"))">Цена</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"Date"))">Дата</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"City"))">Град</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"Views"))">Преглеждания</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, sortBy:"ReviewScore"))">Оценка</option>
                            </select>
                        </li>
                        <li><label for="order-status">Подредба</label></li>
                        <li class="min-width">
                            <select id="order-status" name="order-status" data-placeholder="Order" class="chosen-select filter-status" onChange="location=this.value + '#properties-filtering'">
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, orderBy:"Descending"))">Намаляващ ред</option>
                                <option value="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:1, orderBy:"Ascending"))">Нарастващ ред</option>
                            </select>
                        </li>
                    </ul>
                </div>

                @* Properties horizontal *@
                @foreach (var property in Model)
                {
                    @Html.Partial("/Views/Properties/PropertyInfoViewHorizontal_Partial.cshtml", property);
                }
                @* Properties horizontal *@

                <ul class="pagination">
                    @if (ViewBag.SearchParams.PageCount > 1)
                    {
                        <li><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount-1))">@(ViewBag.SearchParams.PageCount - 1)</a></li>
                    }
                    <li class="active">
                        <a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams))">
                            @ViewBag.SearchParams.PageCount
                            <span class="sr-only">(текуща)</span>
                        </a>
                    </li>
                    @if (ViewBag.LastPage > ViewBag.SearchParams.PageCount)
                    {
                        <li><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount+1))">@(ViewBag.SearchParams.PageCount + 1)</a></li>
                        if (ViewBag.LastPage > ViewBag.SearchParams.PageCount + 1)
                        {
                            <li><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount+2))">@(ViewBag.SearchParams.PageCount + 2)</a></li>
                        }
                        <li><a href="@Url.HrefWithList("Index", "Properties", new SearchAllViewModel(model:ViewBag.SearchParams,pageCount:(int) ViewBag.SearchParams.PageCount+1))">Следващ</a></li>
                    }
                </ul>
            </div>
        </div>
    </section>
    <!-- End Properties -->
</div>

@section scripts{
    <script type="text/javascript" language="javascript" src="/Scripts/propertiesFilteringPersistence.js"></script>
    <script>
        updateDropDownMenues('@ViewBag.SearchParams.IsForRent', '@ViewBag.SearchParams.IsShortPeriodRent',
            '@ViewBag.SearchParams.From', '@ViewBag.SearchParams.To',
            '@ViewBag.SearchParams.PropertyType',
            '@ViewBag.SearchParams.CityId', '@ViewBag.SearchParams.DistanceFromCity',
            '@ViewBag.SearchParams.AreaFrom', '@ViewBag.SearchParams.AreaTo',
            '@ViewBag.SearchParams.PriceFrom', '@ViewBag.SearchParams.PriceTo',
            JSON.parse('@Json.Encode(ViewBag.SearchParams.Extras)'),
            '@ViewBag.SearchParams.SortBy', '@ViewBag.SearchParams.OrderBy',
            '@ViewBag.SearchParams.PageSize', '@ViewBag.SearchParams.ViewType');
    </script>

    @* TODO make filtering by PropertyType !!! With null default parameter *@
}