@using RealEstate.Services.Helpers
@using RealEstate.ViewModels.WebMVC
@model List<PropertyMapViewModel>

@{
    ViewBag.Title = "Карта на имоти - Имоти СПРОПЪРТИС";
}

@section css{
    <style>
        .gm-style-iw + div {
            display: none;
        }

        .gm-style-iw {
            text-align: center;
        }
    </style>
}

<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                @*<h2><span>List Map</span></h2>*@
            </div>
        </div>
    </section>
    <!-- End page top -->
    <!-- Begin Advanced Search -->
    @Html.Partial("AdvancedSearchHorizontal_Partial")
    <!-- End Advanced Search -->
    <!-- Begin Properties -->
    <section class="pgl-properties-map pgl-bg-grey">
        <div class="container">
            <h2>@ViewBag.PropertiesTitle</h2>
            <div id="properties-filtering">
                <div class="listing-header clearfix">
                    <ul class="list-inline list-icons pull-left">
                        <li><a href="@Url.Action("Index", new SearchAllViewModel(ViewBag.SearchParams, viewType: "ListProperties"))"><i class="fa fa-th"></i></a></li>
                        <li><a href="@Url.Action("Index", new SearchAllViewModel(model: (SearchMapViewModel)ViewBag.SearchParams, viewType: "ListPropertiesFullWidth"))"><i class="fa fa-th-list"></i></a></li>
                        <li class="active"><a href="@Url.Action("Map", ViewBag.SearchParams)"><i class="fa fa-map-marker"></i></a></li>
                    </ul>
                    <ul class="list-inline list-sort pull-right">
                        <li><label for="filter-status">Град</label></li>
                        <li class="min-width">
                            <select id="filter-city" name="filter-status" data-placeholder="Filter" class="chosen-select filter-status" onChange="location = this.value + '#properties-filtering'" style="width: 100px;">
                                <option value="@Url.Action("Map",  new SearchMapViewModel(model:ViewBag.SearchParams, cityId: -1 @*TODO: find way to set to null*@))">Градове</option>
                                @foreach (var city in ViewBag.Cities)
                                {
                                    <option value="@Url.Action("Map", new SearchMapViewModel(model:ViewBag.SearchParams, cityId: city.CityId))">@city.CityName</option>
                                }
                            </select>
                        </li>
                        <li><label for="filter-status">Филтър</label></li>
                        <li class="min-width">
                            <select id="filter-status" name="filter-status" data-placeholder="Filter" class="chosen-select filter-status" onChange="location = this.value + '#properties-filtering'" style="width: 100px;">
                                <option selected="selected" value="@Url.Action("Map", new SearchMapViewModel(ViewBag.SearchParams, propertyType: -1))">Типове имоти</option>
                                @foreach (var propertyType in ViewBag.PropertyTypes)
                                {
                                    <option value="@Url.Action("Map", new SearchMapViewModel(ViewBag.SearchParams, propertyType: propertyType.PropertyTypeId))">@propertyType.PropertyTypeName</option>
                                }

                                @*<option value="@Url.Action("Map", "Properties", new {ViewBag.propertyType})">Къщи</option>
                                    <option value="@Url.Action("Map", "Properties", new {ViewBag.propertyType})">Апартаменти</option>*@
                            </select>
                        </li>
                    </ul>
                </div>

                <div id="properties_map" class="map pgl-bg-dark" style="position: relative; overflow: hidden;">
                </div>
            </div>
        </div>
    </section>
    <!-- End Properties -->
    <!-- Begin Featured -->
    <section class="pgl-featured pgl-featured-bottom">
        <div class="container">
            <h2>Специални Предложения</h2>
            <div class="row">
                <div class="owl-carousel pgl-pro-slide owl-theme owl-carousel-init" data-plugin-options='{"items": 4, "singleItem": false,"autoPlay": false, "pagination": false}' style="display: block; opacity: 1;">
                    @foreach (var property in ViewBag.FeaturedProperties)
                    {
                        <div class="owl-item">
                            <div class="col-md-12 animation">
                                <div class="pgl-property featured-item">
                                    <div class="property-thumb-info">
                                        <div class="property-thumb-info-image">
                                            <picture >
                                                <source srcset="@(FileHelpers.ChangeFileExtension(property.ImagePath.Replace(" ", "%20"), ".webp"))" type="image/webp">
                                                <source srcset="@property.ImagePath.Replace(" ", "%20")" type="@MimeMapping.GetMimeMapping(property.ImagePath.Replace(" ", "%20"))">
                                                <img alt="Снимка" class="img-responsive" style="max-height: 192.867px; max-width: 289.3px;" src="@property.ImagePath.Replace(" ", "%20")">
                                            </picture>
                                        </div>
                                        <div class="property-thumb-info-content">
                                            <h3><a href="@Url.Action("Details", "Properties" , new {id = property.PropertyId, isRentSearching = ViewBag.SearchParams.IsForRent})">@property.FullAddress</a></h3>
                                            <p class="clamp-one">@property.PropertyName</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured -->
</div>

@section scripts
{
<script>
    function myMap() {

        @{
            var latitude = ViewBag.City?.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture) ?? "42.15";
            var longitude = ViewBag.City?.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture) ?? "24.75";
        }


        var mapOptions = {
            center: new google.maps.LatLng(@latitude, @longitude),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById("properties_map"), mapOptions);

        @{ var jsonModel = Html.Raw(Json.Encode(Model));}
        var properties = @jsonModel;

        for (var index in properties) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(properties[index].Latitude, properties[index].Longitude),
                map: map,
                title: properties[index].PropertyName
            });

            var contentString =
                '<div id="property-single-map"> \
                    <div style="width:257px; height:180px;"> \
                        <div class="owl-carousel manual pgl-main-slide owl-theme">';
            for (var img in properties[index].ImagePaths) {
                contentString +=
                    '<div class="item">' +
                        @*'<picture>' +
                            '<source srcset="@(FileHelpers.ChangeFileExtension(properties[index].ImagePaths[img].Replace(" ", "%20"), ".webp"))" type="image/webp">'+
                            '<source srcset="' + properties[index].ImagePaths[img].replace(' ', '%20') + '" type="@MimeMapping.GetMimeMapping(property.ImagePath.Replace(" ", "%20"))">' +
                            '<img alt="Снимка" class="img-responsive" style="height: 180px; width:257px !important;" src="' + properties[index].ImagePaths[img].replace(' ', '%20') + '">'+
                        '</picture>' +*@
                        '<img alt="Снимка" style="height: 180px; width:257px !important;" src="' + properties[index].ImagePaths[img].replace(' ','%20') + '" alt="Photo" class="img-responsive">' +
                    '</div>';
            }
            contentString +=
                        '</div> \
                    </div> \
                    <div> \
                        <a href="/Properties/Details/' + properties[index].PropertyId + '"> \
                            <div> \
                                <div> \
                                    <small> \
                                        <span>' + properties[index].FullAddress + '</span> \
                                    </small> \
                                </div> \
                            </div> \
                            <div> \
                                <div>' + properties[index].PropertyName + '</div> \
                            </div> \
                            <div> \
                                <div> \
                                    <div> \
                                        <div> \
                                            <span> \
                                                Цена: <span>' + properties[index].Price + 'лв</span>';
                if (properties[index].Period !== null) {
                    contentString += '/<span>' + properties[index].Period + '</span>';
                }
                contentString += ' </span> \
                                        </div> \
                                    </div> \
                                </div> \
                            </div> \
                        </a> \
                    </div> \
                </div>';

            var infowindow = null;

            google.maps.event.addListener(marker,'click', (function(marker,content){
                return function () {
                    if (infowindow) {
                        infowindow.close();
                    }
                    infowindow = new google.maps.InfoWindow({
                        maxWidth: 257
                    });

                    infowindow.setContent(content);
                    infowindow.open(map, marker);

                    //When the infowindow is attached to the DOM
                    google.maps.event.addListener(infowindow, 'domready', function(){
                        $('.manual').owlCarousel({
                            loop:true,
                            items:1
                        }).addClass("owl-carousel-init");
                    });
                };
                })(marker, contentString));
            }

            google.maps.event.addListener(map, 'click', function() {
                if (infowindow) {
                    infowindow.close();
                }
            });
        }

</script>

    <!--GoogleMap Setup-->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRNibRrD3DnsD2EoqbagZhLwnf82GxraU&callback=myMap"></script>

    @* TODO make filtering by PropertyType !!! With null default parameter (Persist the selected item) *@

    <script type="text/javascript" language="javascript" src="/Scripts/propertiesFilteringPersistence.js"></script>
    <script>
        $(document).ready(function () {

            updateDropDownMenues('@ViewBag.SearchParams.IsForRent', '@ViewBag.SearchParams.IsShortPeriodRent',
                '@(ViewBag.SearchParams.From?.ToString("dd.MM.yyyy") ?? "")', '@(ViewBag.SearchParams.To?.ToString("dd.MM.yyyy") ?? "")',
                '@ViewBag.SearchParams.PropertyType',
                '@ViewBag.SearchParams.CityId', '@ViewBag.SearchParams.DistanceFromCity',
                '@ViewBag.SearchParams.AreaFrom', '@ViewBag.SearchParams.AreaTo',
                '@ViewBag.SearchParams.PriceFrom', '@ViewBag.SearchParams.PriceTo',
                JSON.parse('@Json.Encode(ViewBag.SearchParams.Extras)'),
                '', '', '', '',true);

            @*updateDropDownMenues('@ViewBag.SearchParams.PropertyType',
                '@ViewBag.SearchParams.CityId', '@ViewBag.SearchParams.DistanceFromCity',
                '@ViewBag.SearchParams.AreaFrom', '@ViewBag.SearchParams.AreaTo',
                '@ViewBag.SearchParams.PriceFrom', '@ViewBag.SearchParams.PriceTo',
                '', '', '', '',
                '@ViewBag.SearchParams.IsForRent', true);*@
        });
    </script>
}
