@using RealEstate.Services.Helpers
@model List<RealEstate.ViewModels.WebMVC.ImageEditViewModel>

<section class="images">
    <fieldset class="imageFieldset col-md-6 col-xs-12">
        <legend class="required">Снимки</legend>
        <div class="row">
            <div id="gallery" class="col-md-12 col-xs-12">
                @foreach (var image in Model.Where(i => !i.IsForSlider))
                {
                    <picture >
                        <source srcset="@(FileHelpers.ChangeFileExtension(image.ImagePath.Replace(" ", "%20"), ".webp"))" type="image/webp">
                        <source srcset="@image.ImagePath.Replace(" ", "%20")" type="@MimeMapping.GetMimeMapping(image.ImagePath.Replace(" ", "%20"))">
                        <img alt="Снимка" class="imagePlaceholderSlider" src="@image.ImagePath.Replace(" ", "%20")">
                    </picture>
                    <span class="topright" data-id="@image.ImageId">
                        <b>x</b>
                    </span>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <input type="file" style="display: none" name="ImageFiles" multiple id="gallery-photo-add" class="images">
            <input type="button" name="fileBrowserWrapper" id="fileBrowserWrapperRegular" value="Избери снимки" />
            <span id="imageRegularCount"></span>

            <!-- Trigger/Open The Modal -->
            <input type="button" id="modalBtnRegular" value="Преглед" />
            @Html.ValidationMessage("ImageFiles", new { @class = "text-danger", style = "display: inline-block;" })
        </div>
    </fieldset>

    <fieldset class="imageFieldsetSlider col-md-6 col-xs-12">
        <legend class="required">Снимки за слайдери</legend>
        <div class="row">
            <div id="gallerySlider" class="col-md-12 col-xs-12">
                @foreach (var image in Model.Where(i => i.IsForSlider))
                {
                    <picture >
                        <source srcset="@(FileHelpers.ChangeFileExtension(image.ImagePath.Replace(" ", "%20"), ".webp"))" type="image/webp">
                        <source srcset="@image.ImagePath.Replace(" ", "%20")" type="@MimeMapping.GetMimeMapping(image.ImagePath.Replace(" ", "%20"))">
                        <img alt="Снимка" class="imagePlaceholderSlider" src="@image.ImagePath.Replace(" ", "%20")">
                    </picture>
                    <span class="topright" data-id="@image.ImageId">
                        <b>x</b>
                    </span>
                }
            </div>
        </div>
        <div class="col-xs-12">
            <input type="file" style="display: none" name="ImageFilesForSlider" multiple id="gallery-photo-slider-add" class="images">
            <input type="button" name="fileBrowserWrapper" id="fileBrowserWrapperSlider" value="Избери снимки" />
            <span id="imageSliderCount"></span>

            <!-- Trigger/Open The Modal -->
            <input type="button" id="modalBtnSlider" value="Преглед" />
            @Html.ValidationMessage("ImageFilesForSlider", new { @class = "text-danger", style = "display: inline-block;" })
        </div>
    </fieldset>
</section>

@*WORKS WITH <script src="../../js/properties/images.js"></script>*@
