@model RealEstate.ViewModels.WebMVC.AddRentalInfoToPropertyViewModel

<section class="rentalInfoTemplate">
    <h2 align="center" style="margin-bottom: 5px;">Помещения отдавани под наем в имота</h2>
    <h6 align="center" style="margin-top: 5px;">(Тези полета се попълват само ако от имота се отдават под наем отделни части.)</h6>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="form-group">
                <label class="control-label col-md-4 required"> Вид помещение </label>
                <div class="col-md-8">
                    @Html.DropDownList("RentalsInfo[0].UnitTypeId", (SelectList)ViewBag.UnitTypeId, new { @class = "form-control unit-type", @id="unitType" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required" style="padding-top: 0; margin-top: -6px"> Брой помещения <br/> от този вид </label>
                <div class="col-md-8">
                    <input name="RentalsInfo[0].UnitsCount" class="form-control rental-info-field" id="beds-count" />
                    @Html.ValidationMessage("RentalsInfo[0].UnitsCount", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required"> Наемна цена </label>
                <div class="col-md-8">
                    <input name="RentalsInfo[0].RentalPrice" class="form-control rental-info-field" id="rental-price" />
                    @Html.ValidationMessage("RentalsInfo[0].RentalPrice", new { @class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 required"> Наемен период </label>
                <div class="col-md-8">
                    <select id="rentalPricePeriod" name="RentalsInfo[0].RentalPricePeriodId" class="form-control price-period">
                        <option value="" selected="selected">Изберете период</option>
                        @foreach (var item in ViewBag.RentalPeriodId)
                        {
                            <option name="RentalPricePeriodId" value="@item.PeriodId">
                                @item.Period
                            </option>
                        }
                    </select>
                    @Html.ValidationMessage("RentalsInfo[0].RentalPricePeriodId", new { @class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-11 col-md-offset-1 col-xs-12">
                    <label class="rentalAdditionalInfoLabel">
                        <b>Допълнителна информация</b>
                    </label>
                </div>
                <div class="col-md-11 col-md-offset-1 col-xs-12">
                    <textarea name="RentalsInfo[0].AdditionalInfo" class="form-control rentalAdditionalInfoTextArea rental-info-field"></textarea>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">

            <section class="col-xs-12 rentalDescriptors">
                <label><b>Допълнителни описатели</b></label>
                <div class="rentalDescripotorValues">
                    <datalist id="suggestions">
                        <option value="Етаж">
                        <option value="Брой стаи">
                        <option value="Площ">
                        <option value="Бани">
                        <option value="Спални">
                        <option value="Двор">
                        <option value="Изглед">
                    </datalist>
                    <div class="attributes">
                        <input name="RentalsInfo[0].Attributes[0].Key" list="suggestions" class="additionalDescriptors key rental-info-field" value="Площ"/>
                        <input name="RentalsInfo[0].Attributes[0].Value" class="additionalDescriptors value rental-info-field" placeholder="Стойност (пример: 40кв.м.)"/>
                    </div>
                    <div class="attributes">
                        <input name="RentalsInfo[0].Attributes[1].Key" list="suggestions" class="additionalDescriptors key rental-info-field" placeholder="Описател (пример: Изглед)"/>
                        <input name="RentalsInfo[0].Attributes[1].Value" class="additionalDescriptors value rental-info-field" placeholder="Стойност (пример: Към морето)"/>
                    </div>
                    <div class="attributes">
                        <input name="RentalsInfo[0].Attributes[2].Key" list="suggestions" class="additionalDescriptors key rental-info-field" placeholder="Описател"/>
                        <input name="RentalsInfo[0].Attributes[2].Value" class="additionalDescriptors value rental-info-field" placeholder="Стойност"/>
                    </div>
                    <div class="attributes">
                        <input name="RentalsInfo[0].Attributes[3].Key" list="suggestions" class="additionalDescriptors key rental-info-field" placeholder="Описател"/>
                        <input name="RentalsInfo[0].Attributes[3].Value" class="additionalDescriptors value rental-info-field" placeholder="Стойност"/>
                    </div>
                    <input type="button" value="Добави нов описател" id="add-rental-attribute" class="btn btn-primary rental-info-field" style="float: right; margin-right: 35px"/>
                </div>
                
            </section>
        </div>

        <div class="col-xs-12 col-md-12">
            <div class="row rental-extras">
                @for (int i = 0; i < ViewBag.RentalExtras.Count; i++)
                {
                <div class="col-xs-3">

                    <input class="rental-info-field" data-val="true" data-val-number="The field ExtraId must be a number." data-val-required="The ExtraId field is required." id="RentalsInfo_@(i)__ExtraId" name="RentalsInfo[0].RentalExtras[@i].ExtraId" value="@ViewBag.RentalExtras[i].ExtraId" type="hidden">
                    <input class="rental-info-field" data-val="true" data-val-required="The IsChecked field is required." id="RentalsInfo[0].RentalExtras[@i].IsChecked" name="RentalsInfo[0].RentalExtras[@i].IsChecked" value="true" type="checkbox">
                    <input class="rental-info-field" name="RentalsInfo[0].RentalExtras[@i].IsChecked" value="false" type="hidden">
                    <label for="RentalsInfo[0].RentalExtras[@i].IsChecked">@ViewBag.RentalExtras[i].ExtraName </label>
                </div>
                }
            </div>
        </div>
    </div>

</section>
