@using RealEstate.ViewModels.WebMVC
@using RealEstate.ViewModels.WebMVC.Forum
@model RealEstate.ViewModels.WebMVC.Contact.ContactMessageViewModel

@{
    ViewBag.Title = "Контакти - Имоти СПРОПЪРТИС";
}

<div role="main" class="main pgl-bg-grey">
    <!-- Begin page top -->
    <section class="page-top">
        <div class="container">
            <div class="page-top-in">
                <h2><span>Свържи се с нас</span></h2>
            </div>
        </div>
    </section>
    <!-- End page top -->
    <!-- Begin content with sidebar -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 content">
                <div class="contact">
                    <p>
                        За да се свържите с нас може да използвате всеки един от посочените мобилни телефони и електронни пощи.
                        Ако желаете може да заповядате в нашият офис, за разговор по всякакви въпроси свързани с работата ни.
                        Запитване може да направите и от формулярът по-долу. Моля запитванията да бъдат конкретни и целенасочени.
                        Запитванията да бъдат във връзка с <strong>имоти</strong> или относно <strong>услуги</strong>, които предоставяме. 
                        Може да очаквате професионално и отговорно разглеждане на всяко запитване.
                        Запитванията се разглеждат само вътре-фирмено.
                        Молим да се свързвате с нас в работно време.
                    </p>
                    <div id="contact-map" class="pgl-bg-light" style="position: relative; overflow: hidden;"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>Нашият адрес</strong>
                            <address>@System.Configuration.ConfigurationManager.AppSettings["CompanyAddress"]</address>
                        </div>
                        <div class="col-sm-6">
                            <address>
                                <strong>Телефон:</strong> @System.Configuration.ConfigurationManager.AppSettings["OfficePhone"]<br>
                                <strong>Messenger:</strong> <a target="_blank" href="https://fb.me/SmartProperties2018">Пишете ни</a><br>
                                <strong>Емейл:</strong> <a href="mailto:@System.Configuration.ConfigurationManager.AppSettings["OfficeEmail"]">@System.Configuration.ConfigurationManager.AppSettings["OfficeEmail"]</a>
                            </address>
                        </div>
                    </div>
                    <hr>
                    <h1 id="sendmessage-header">Свържете се с нас</h1>
                    @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { id = "sendmessage" }))
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="name">Вашето име*</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", type = "text" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    <label for="email">Вашата е-поща*</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "text" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="subject">Заглавие*</label>
                                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", type = "text" })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    <label for="WebSite">Вашият телефон*</label>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", type = "text" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Вашето Съобщение*</label>
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", rows = "9" })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group row" style="margin-right: 0;">
                            <div class="col-xs-12 col-md-6">
                                <div class="terms">
                                    @Html.CheckBoxFor(m => m.AreTermsAgreed) Съгласен съм с <a href="@Url.Action("TermsAndConditions", "Home")" target="_blank" class="required">общите условия</a>.
                                </div>
                                @Html.ValidationMessageFor(m => m.AreTermsAgreed, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xs-12 col-md-offset-3 col-md-3">
                                <input value="Изпрати запитване" class="btn btn-primary min-wide" data-loading-text="Изпращане..." type="submit">
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="col-md-3 sidebar">

                <!-- Begin Our Agents -->
                @Html.Partial("/Views/Agents/TeamUserCarousel_Partial.cshtml", (List<TeamUserListViewModel>)ViewBag.Agents)
                <!-- End Our Agents -->
                <!-- Begin Tabs -->
                <aside class="block tabs pgl-bg-light">
                    <ul class="nav nav-tabs second-tabs">
                        <li class="active" title="Популярни постове">
                            <a href="#popularPosts" data-toggle="tab">
                                <i class="icon icon-star"></i> Популярни
                            </a>
                        </li>
                        <li title="Последни коментари">
                            <a href="#latestComments" data-toggle="tab">Коментари</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        @Html.Partial("/Views/Forum/Posts_Partial.cshtml", (List<RealEstate.ViewModels.WebMVC.Forum.PostSideViewModel>)ViewBag.PopularPosts)

                        @Html.Partial("/Views/Forum/Comments_Partial.cshtml", (List<CommentSideViewModel>)ViewBag.LatestComments)

                    </div>
                </aside>
                <!-- End Tabs -->

            </div>
        </div>
    </div>
    <!-- End content with sidebar -->

</div>

@section scripts
{
    <script>
        function myMap() {
            var location = new google.maps.LatLng("42.015186", "24.864642");

            var mapOptions = {
                center: new google.maps.LatLng(42.015186, 24.864642),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(document.getElementById("contact-map"), mapOptions);

            let marker = new google.maps.Marker({
                position: location,
                map: map,
                visible: true
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $(document).on('submit',
                '#sendmessage',
                function (event) {
                    event.preventDefault ? event.preventDefault() : (event.returnValue = false);

                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (data) {
                            if (data.success) {
                                showErrorResponse(data, $('#sendmessage'));
                            } else {
                                clearFormValidationErrors($('#sendmessage'));
                                createAndShowModal({
                                    title: 'Заявка за контакт',
                                    body: 'Благодарим за отделеното време да се свържете с нас. Съобщението ви ще бъде прегледано от нашият екип и ще бъде обработено възможно най-скоро.'
                                });
                            };
                        }
                    });
                });
        });
    </script>

    <!--GoogleMap Setup-->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRNibRrD3DnsD2EoqbagZhLwnf82GxraU&callback=myMap"></script>
}