@using System.Configuration

@{
    ViewBag.Title = "Политика на поверителност - Имоти СПРОПЪРТИС";
}

<div class="container">

    <article style="text-align: justify;" class="content">
        <h1 align="center">Политика за Поверителност</h1>
        <p align="center">
            <strong>ПОЛИТИКА ЗА ЗАЩИТА НА ЛИЧНИТЕ ДАННИ В „СПРОПЪРТИС“ ЕООД - САЙТ НА СПРОПЪРТИС</strong>
        </p>
        <br />
        <p>
            <strong>Поверителност и сигурност</strong>
        </p>
        <p>Уважаеми клиенти,</p>
        <p>
            „СПРОПЪРТИС“ ЕООД, ЕИК 201356916 (sProperties) зачита неприкосновеността на личния живот на клиентите си и гарантира в максимална степен защитата на личните им данни, обработвани при онлайн резервации,регистрация на имот за престой/почивка, уговаряне на среща за оглед, участие в различни игри и промоции и други дейности, осъществявани при и във връзка с посещение на сайта на sProperties .
        </p>
        <p>Дружеството се стреми да осъществява дейността при пълно спазване изискванията на Закона за защита на личните данни и на Регламент (ЕС) 2016/679 на Европейския парламент и на Съвета относно защитата на физическите лица във връзка с обработването на лични данни и относно свободното движение на такива данни (Общ регламент за защита на данните)</p>
        <p>Настоящата Политика за защита на личните данни е изготвена и се основава на действащото българско и европейско законодателство в областта на защитата на личните данни.</p>
        <p>
            „СПРОПЪРТИС“ ЕООД си запазва правото да изменя настоящата политика.Всички изменения и допълнения в Политиката за защита на личните данни ще бъдат прилагани само след публикуване на актуалното ѝ съдържание, достъпно чрез нашия уебсайт: <a href="https://@ConfigurationManager.AppSettings["domain"]/" style="color: #0563c1; text-decoration: underline;">@ConfigurationManager.AppSettings["domain"]</a>
        </p>
        <p>
            Политиката за защита на личните данни е приложима за Вашите данни, ако сте физическо лице или представител на юридическо лице, което е посетител на сайта на СПРОПЪРТИС<br /> <a href="https://@ConfigurationManager.AppSettings["domain"]/" style="color: #0563c1; text-decoration: underline;">@ConfigurationManager.AppSettings["domain"]</a> и/или има регистрация на този сайт. Същата ще Ви разясни каква информация обработваме при посещение на сайта, онлайн резервацията и регистрацията. – <a href="https://@ConfigurationManager.AppSettings["domain"]/" style="color: #0563c1; text-decoration: underline;">@ConfigurationManager.AppSettings["domain"] </a> , за какви цели я използваме и какви са правата Ви като субект на личните данни.
        </p>
        <p>
            Пълна информация относно защита на личните данни, според българското законодателство, може да намерите на интернет страницата на Комисията за защита на личните данни: <span style="color: #0563c1;"><span style="text-decoration: underline;"><a href="https://www.cpdp.bg/">www.cpdp.bg</a></span></span>.
        </p>
        <br />
        <p>
            <strong>Данни за контакт</strong>
        </p>
        <p>
            При въпроси, свързани с обработката на лични данни може да се свържете с нас на електронна поща: <a href="mailto:@ConfigurationManager.AppSettings["OfficeEmail"]"><span style="text-decoration: underline;color: #0563c1;">@ConfigurationManager.AppSettings["OfficeEmail"]</span></a>
        </p>
        <br />
        <p>
            <strong>Видове данни, които се събират</strong>
        </p>
        <p>
            <strong>СПРОПЪРТИС </strong>обработва различни видове лични данни, които могат да бъдат получени от субекта на данни, от трети страни или могат да бъдат създадени от СПРОПЪРТИС при обслужването на клиента.
        </p>
        <p>СПРОПЪРТИС автоматично събира и съхранява информация, свързана с ползването на сайта, като например страниците от сайта, които клиентите посещават, уебсайтовете, които препращат потребителите към сайта, IP адресите на потребителите, вида Интернет браузър, който потребителите ползват, броя потребители, видели даден банер на сайта и др. Тази информация не позволява идентификацията на конкретния потребител, а се използва за анализиране на потребителското поведение, за констатиране на ефективността на осъществяваната реклама, за статистически цели, както и за подобряване на предлаганите услуги на и чрез Сайта.</p>
        <p>Предоставянето на личните данни от страна на клиентите е доброволно. Когато за ползването на дадена услуга или функционалност на сайта е необходимо клиентите да предоставят лични данни, Дружеството ясно обозначава дали предоставянето на дадени данни е задължително (било във формата за регистрация, било в конкретните общи условия за промоционална кампания с награди и т.н. ). Когато предоставянето на данни е посочено като „Задължително” това означава, че ако клиентът не ги предостави, няма да може да ползва услугите или функционалностите на сайта, за които се изисква предоставянето на такива данни, включително услугата по онлайн резервация на среща за оглед и онлай резервация на имот за почивка/престой или съответно участието в игра с раздаване на награди и получаването на награди от спечелил участник.</p>
        <p>
            При регистрация на потребителя на сайта <span lang="en-US">@ConfigurationManager.AppSettings["domain"]</span> онлайн резервация на среща за оглед, онлайн резевация на имот за почивка/престой, игри и промоции, „СПРОПЪРТИС“ ЕООД събира, обработва, използва и съхранява следните предоставяни от клиента лични данни (като посочването не е изчерпателно и търпи промени, което ясно се обозначава на потребителите на сайта). Съгласието на клиента с правилата на общите условия и политиката за защита нa личните данни се изисква изрично, като клиентът маркира специално поле, в случай че е съгласен.
        </p>
        <p>
            <strong>Данни на потребителя в меню ПРОФИЛ на сайта </strong><span lang="en-US"><strong>@ConfigurationManager.AppSettings["domain"]</strong></span>
        </p>
        <p>
            <strong>Персонална информация в меню ПРОФИЛ</strong>
        </p>
        <ul>
            <!--<li>Пол</li>-->
            <li>Име, презиме, фамилия</li>
            <li>Имейл адрес</li>
            <li>Телефон</li>
            <li>Град</li>
            <li>Пощенски код</li>
            <li>Адрес</li>
            <!--<li>Дата на раждане</li>
            <li>Образование</li>
            <li>Работна позоция</li>-->
            <li>Фейсбук профил</li>
        </ul>
        <p>
            <strong>В профила на всеки потребител се събира информация за:</strong>
        </p>
        <ul>
            <li>Направени срещи за оглед</li>
            <li>Отказани/състояли се срещи за оглед</li>
            <li>Написани ревюта</li>
            <li>Написани коментари</li>
            <li>Направени резервации</li>
            <li>Платени резервации</li>
            <li>Отказани резервации</li>
        </ul>
        <p>В профила на потребителя има опция за попълване на интереси: музика, игри, книги и т.н.</p>
        <p>
            <strong>Данни на потребителя при резервация на час за оглед или резервация на имот за престой/почивка</strong>
        </p>
        <ul>
            <li>Име/Псевдоним</li>
            <li>Имейл адрес, чрез който ще се свържем с вас за потвърждаване</li>
            <li>Телефон, чрез който ще се свържем с вас за потвърждаване</li>
        </ul>
        <p>
            <strong>Данни на потребителя при регистрция на билет (Игри и Промоции)</strong>
        </p>
        <ul>
            <li>Номер на Резервация</li>
            <li>Име, презиме, фамилия</li>
            <li>Дата на раждане</li>
            <li>Имейл адрес</li>
            <li>Адрес</li>
            <li>Телефон</li>
        </ul>
        <p lang="en-US">
            <span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">Във връзка с получаване на награди над определна стойност от игри и промоции и с оглед изпълнeние на задълженията на СПРОПЪРТИС съгласно данъчното законодателство , се изисква предоставянето на ЕГН/ЛН на чужденец на спечели</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">ли</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">те участници, както и информация дали са местно или чуждестранно лице </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">по смисъла на чл.4 и чл.5 от Закона за данъците върху доходите на физическите лица <span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">и адрес в чужбина на чуждестранните лица, &nbsp;</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">местно или чуждестрано лице.</span></span></span></span></span></span></span></span></span></span>
        </p>
        <p>Клиентът дава съгласието си данните, посочени от него в онлайн поръчката за резервация на час за оглед/резервация на имот за престой/почивка, да бъдат използвани от „СПРОПЪРТИС“ ЕООД за обработване на поръчката на клиента, изпълнение на договора от разстояние и за комуникация с клиента в случай на необходимост.</p>
        <p>
            <strong>Цели на събиране и обработка на лични данни</strong>
        </p>
        <p lang="en-US">
            „<span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">СПРОПЪРТИС България ЕООД“</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG"> събира и обработва лични данни най-общо за следните типове</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> Цели, </span></span></span></span>
        </p>
        <p lang="en-US">
            <span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">1)За сключване на договори с клиентите и за изпълнение </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">на задължения</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">та по договорите </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> от страна на </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">СПРОПЪРТИС. Предоставянето на данните е</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> по искане на физически</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">те</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> лица, чиито лични данни се обработват</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG"> и е доброволно</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> - за </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">такава цел </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">на </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">СПРОПЪРТИС </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> са необходими определени лични данни за клиента (напр. пълно име, адрес, данни за контакт). Възможно е </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">СПРОПЪРТИС </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">да изисква допълнителна информация в зависимост от характера на услугите, които са част от договора</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG"> (например ЕГН или личен номер на физическото лице; дата на раждане)</span></span></span><span style="font-family: Calibri, sans-serif;">.</span><br>
        </p>
        <p lang="en-US">
            <span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">2) За изпълнение на законово определени задължения на СПРОПЪРТИС - </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">при които обработването на лични данни е необходимо за </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">о</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">тчитане пред </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">държавни органи и други органи </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">– </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">напр. </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">за данъчни цели въз основа на изискванията на Закона за счетоводството</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">, както и за изпъленние на задълженията на СПРОПЪРТИС като организатор на промоции и кампании с награди над определена стойност, при които Организаторът е длъжен да предостави на награденото лице служебна бележка по чл. 45, ал.7 от ЗЗДФЛ за доходи от други източници по чл.35 от ЗДДФЛ, както и да декларира към НАП със Справка по чл.73, ал.1 от ЗДДФЛ всеки награден, като посочи в справката три имена , ЕГН/ ЛН или служ. номер на НАП на награденото лице, а ако лицето е чуждестранно по смисъла на чл.5 от ЗДДФЛ- и адрес в чужбина на чуждестранното лице.</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><br> </span></span></span></span>
        </p>
        <p style="font-family: Calibri, sans-serif; font-size: small;">3)Цели, при които обработката на лични данни се основава на съгласието на клиента, което се предостаяв изрично- напр. за Изпращане на съобщения (имейли) за продукти и услуги - „СПРОПЪРТИС“ ЕООД обработва лични данни, за да изпраща съобщения за продуктите и услугите, използвани от клиента чрез имейли. Съобщенията (имейлите) се отнасят до актуални промоции и оферти, както и информация за предстоящи кампании, събития и друго алтернативно съдържание, което СПРОПЪРТИС сметне, че ще представлява интерес.</p>
        <p lang="en-US">
            <span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">4</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">)</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">. Цели, при които обработването на лични данни се основава на легитимен интерес на </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">СПРОПЪРТИС като </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">администратор:<br> <br> </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">а)</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">Спорове</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG"> (съдебни и извънсъдебни)</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> - Създаване, упражняване или защита на права на </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">Кино</span></span></span> <span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">Арена</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> – </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">СПРОПЪРТИС</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> ще обработва данните на клиента си, за да защитава правата си при съдебни процедури, при уреждане на искове с помощта на външни адвокати и др. Това се отнася до ситуации, при които се обработват лични данни във връзка с администрирането на информация, свързана със съдебни спорове, съдебни гаранции, молби и съдебни решения. </span></span></span></span>
        </p>
        <p lang="en-US">
            <span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">б)</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> Вътрешна отчетност, анализ и развитие на предлаганите продукти и услуги – </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">СПРОПЪРТИС </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> използва личните данни на своите клиенти, за да </span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">повиши качестовото на търговската услуга и с цел </span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">предлага</span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"><span lang="bg-BG">не</span></span></span><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;"> нови, по-добри и иновативни продукти. </span></span></span></span>
        </p>
        <p lang="en-US">
            <span style="font-family: 'Times New Roman', serif;"><span style="font-size: medium;"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">в)Техническо съдействие за създаване на акаунт/и и възстановяване на забравена парола за достъп до сайта </span></span><span style="color: #0563c1;"><span style="text-decoration: underline;"><a href="https://@ConfigurationManager.AppSettings["domain"]/"><span style="font-family: Calibri, sans-serif;"><span style="font-size: small;">@ConfigurationManager.AppSettings["domain"]</span></span></a></span></span></span></span>
        </p>
        <br />
        <p>
            <strong>Права на клиентите</strong>
        </p>
        <p>
            Всеки клиент на „СПРОПЪРТИС“ ЕООД, има следните права във връзкь с личните си данни и може да упражнява което и да е от тях лично на място в централния офис на СПРОПЪРТИС или да изпрати писмо или електронна поща, адресирани до: гр. Асеновград, ул.„Пирин“ № 8/ <span style="color: #0563c1;"><span style="text-decoration: underline;"><a href="mailto:@ConfigurationManager.AppSettings["OfficeEmail"]"><span lang="en-US">@ConfigurationManager.AppSettings["OfficeEmail"]</span></a></span></span>
        </p>
        <p>
            <strong>Право да предоставя лични данни</strong> , вкл право да предоставя и актуализира информация за себе си на „СПРОПЪРТИС“ ЕООД, включително да предоставя лични данни, които дават възможност лицето да бъде идентифицирано;
        </p>
        <p>
            <strong>Право на достъп до лични данни:</strong> право да получи информация дали „СПРОПЪРТИС“ ЕООД обработва негови лични данни, категориите данни и категориите получатели, на които данните се разкриват или могат да бъдат разкрити; източника на тези лични данни, информация за логиката на всяко автоматизирано обработване на негови лични данни;
        </p>
        <p>
            <strong>Право на поправка на лични данни</strong>: в случай, че лицето открие, че личните данни, които СПРОПЪРТИС обработва за него, са неточни, има право да поиска да коригиране тези лични данни (освен ако лицето само не може да ги коригира).
        </p>
        <p>
            <span lang="en-US"><strong>Право на изтриване на лични данни (правото да бъдете забравени)</strong></span><span lang="en-US">: при определени обстоятелства, като например ако личните Ви данни </span>на клиента <span lang="en-US">са обработени незаконно или </span>той е <span lang="en-US"> оттеглил съгласието си (ако обработката на личните данни е базирана на съгласие), има право да поиска и да получи изтриване на личните </span>му<span lang="en-US"> данни от </span>СПРОПЪРТИС Оттеглянето на съгласието може да бъде подадено във формата на декларация;
        </p>
        <p>
            <span lang="en-US"><strong>Право на ограничаване на обработването</strong></span><span lang="en-US">: при определени обстоятелства, като например </span>клиентът<span lang="en-US"> се съмнява в точността на личните </span>си<span lang="en-US"> данни или </span>е<span lang="en-US"> възразил на легитимната цел за обработка на личните </span>му<span lang="en-US"> данни, </span>той <span lang="en-US">има право да поиска да ограничим обработката на лични</span>те му <span lang="en-US"> данни, докато не бъде намерено решение.</span>
        </p>
        <p>
            <span lang="en-US"><strong>Право на възражение срещу обработването</strong></span><span lang="en-US">: при определени обстоятелства, като например ако</span> клиентът <span lang="en-US"> се съмнява в легитимния ни интерес да обработваме лични</span> му <span lang="en-US"> данни,</span> той има <span lang="en-US"> право да възрази срещу подобно обработване по съображения, свързани с конкретната ситуация,.</span>
        </p>
        <p>
            <strong>Право да се иска от СПРОПЪРТИС уведомяване на трети лица-</strong> клиентът има право да иска СПРОПЪРТИС да уведоми третите лица, на които в точно определени хипотези, е разкрило лични данни на клиента, за всяко заличаване, коригиране или блокиране на тези лични данни;
        </p>
        <p>
            <strong>Право на възражение срещу обработване за директен маркетинг</strong> – клинетът има право да възрази срещу обработването на личните му данни за целите на директния маркетинг;
        </p>
        <p>
            <strong>Право на подаване на жалба в контролен орган</strong> – клиентът има право В случай, че намира, че е осъществено нарушение във връзка с обработване на личните му данни да подаде жалба до Комисията за защита на личните данни (КЗЛД) или директно до компетения съд.
        </p>
        <p>Всеки път, когато Субектът на данни желае да упражни своите права, той следва да предостави конкретно и подробно описание на искането си. СПРОПЪРТИС ще отговаря съответно на запитвания, които съдържат достатъчно подробности. При упражняване на правата, СПРОПЪРТИС трябва да провери самоличността на субектите на данни и за тази цел може да поиска от тях да представят лична карта или друг документ за самоличност, от които може по безспорен начин да се удостовери самоличността.</p>
        <p>В случаите, когато се подава заявление за преустановяване на обработването и използването на лични данни за целите на директния маркетинг, е достатъчно заявлението да съдържа съответния e-mail.</p>
        <p>Дружеството отказва достъп до лични данни, когато те не съществуват или предоставянето им е забранено със закон или няма възможност личните данни на клиента да бъдат отделени от личните данни на други лица.</p>
        <p>
            <strong>Получатели на лични данни</strong>
        </p>
        <p>
            СПРОПЪРТИС <span lang="en-US">не дава право на използване, не продава, не разкрива и не споделя информация за вас (</span> вкл.<span lang="en-US">лични данни ) с други лица или с несвързани компании, освен когато това се налага, за да ви предоставим заявени от вас услуги и когато вие сте предоставили вашето разрешение, или в някоя от следните хипотези: </span>
        </p>
        <p>
            <span lang="en-US">Информацията се предоставя на </span>контрагенти, които работят по възлагане от страна на СПРОПЪРТИС въз основа на договорни отношения и по силата на конфиденциални споразумения. Тези компании могат да използват такава информация, за да има възможност СПРОПЪРТИС например <span lang="en-US">да доставя реклама на потребителите си. Въпреки това тези компании нямат правото самостоятелно да споделят тази информация,</span>
        </p>
        <p>
            <span lang="en-US">&nbsp;- когато „СПРОПЪРТИС ЕООД” е задължено по закон;</span>
        </p>
        <p>&nbsp;- когато такова разкриване е поискано от органите на реда, от съдебните органи или от други държавни или общински органи, компетентни да изискват и събират такава информация, съгласно и по реда на действащото законодателство;</p>
        <p>&nbsp;- когато лицата, на които се предават лични данни за обработка са физически или юридически лица, публични органи, агенции или всеки друг орган, който обработва лични данни от името на администратора.</p>
        <p>За избягване на съмнение се подчертава, че при заплащане на резервация(капаро/пълна сума) през сайта на СПРОПЪРТИС , дружеството в нито един момент на платежния процес няма достъп до картовите данни на клиентите. С попълването и изпращането на резервационната форма и плащането ѝ, клиентът се съгласява с предоставянето на своите лични данни ((псевдоним), телефонен номер и е-мейл) и с тяхното трансфериране към обслужващата дружеството банка за целите на обработване на платежната трансакция и свързването й с поръчката на клиента. ( Към датата на приемане на Политиката за защита на личните данни обслужваща институция е ePay)</p>
        <p>СПРОПЪРТИС следва всички общоприети стандарти за защита на предоставените лични данни по време на получаването им и след това. Въпреки това, в случаите на форсмажорни обстоятелства, недобросъвестни действия от страна на трети лица (хакери), както и когато клиентите на Дружеството направят личната си информация достъпна за трети лица, СПРОПЪРТИС не носи отговорност за сигурността на тази информация или за каквито и да е вреди, настъпили вследствие нейното разкриване.</p>
        <p>
            <strong>Продължителност на съхраняването на лични данни</strong>
        </p>
        <p>„СПРОПЪРТИС ЕООД”съхранява личните данни на субектите на данни в съответствие със законоустановените срокове за съхранение, а когато няма такива, съгласно приетите с решение на Дружеството срокове.</p>
        <p>
            Обработването, съхраняването и използването на данните <span lang="en-US">продължава, докато </span>СПРОПЪРТИС <span lang="en-US">разполага с основание за тяхното съхранение</span> – например до приключване на дадена томбола и получаване на наградите, до заличаването на регистрацията на потребител или оттегляне на съгласието му или до изтичане на законово определения срок за данъчни цели. Предоставените e-mail ще се съхраняват с цел директен маркетинг на дейността на Оператора за неопределен срок или докато лицето, което ги е предоставило, не поиска унищожаването (заличаването) им.
        </p>
    </article>


    <!--<h1>Privacy Policy</h1>


    <p>Effective date: November 26, 2018</p>


    <p>sProperties Ltd. ("us", "we", or "our") operates the https://@ConfigurationManager.AppSettings["domain"] website (the "Service").</p>

    <p>
        This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy for sProperties Ltd. is managed through <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php">Free Privacy Policy Website</a>.
    </p>

    <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from https://@ConfigurationManager.AppSettings["domain"]</p>


    <h2>Information Collection And Use</h2>

    <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>

    <h3>Types of Data Collected</h3>

    <h4>Personal Data</h4>

    <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>

    <ul>
        <li>Email address</li>
        <li>First name and last name</li>
        <li>Phone number</li>
        <li>Address, State, Province, ZIP/Postal code, City</li>
        <li>Cookies and Usage Data</li>
    </ul>

    <h4>Usage Data</h4>

    <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>

    <h4>Tracking & Cookies Data</h4>
    <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
    <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
    <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
    <p>Examples of Cookies we use:</p>
    <ul>
        <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
        <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
        <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
    </ul>

    <h2>Use of Data</h2>

    <p>sProperties Ltd. uses the collected data for various purposes:</p>
    <ul>
        <li>To provide and maintain the Service</li>
        <li>To notify you about changes to our Service</li>
        <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
        <li>To provide customer care and support</li>
        <li>To provide analysis or valuable information so that we can improve the Service</li>
        <li>To monitor the usage of the Service</li>
        <li>To detect, prevent and address technical issues</li>
    </ul>

    <h2>Transfer Of Data</h2>
    <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
    <p>If you are located outside Bulgaria and choose to provide information to us, please note that we transfer the data, including Personal Data, to Bulgaria and process it there.</p>
    <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
    <p>sProperties Ltd. will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>

    <h2>Disclosure Of Data</h2>

    <h3>Legal Requirements</h3>
    <p>sProperties Ltd. may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
    <ul>
        <li>To comply with a legal obligation</li>
        <li>To protect and defend the rights or property of sProperties Ltd.</li>
        <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
        <li>To protect the personal safety of users of the Service or the public</li>
        <li>To protect against legal liability</li>
    </ul>

    <h2>Security Of Data</h2>
    <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

    <h2>Service Providers</h2>
    <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
    <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>

    <h3>Analytics</h3>
    <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
    <ul>
        <li>
            <p>
                <strong>Google Analytics</strong>
            </p>
            <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
            <p>You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>
            <p>
                For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a>
            </p>
        </li>
    </ul>


    <h2>Links To Other Sites</h2>
    <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
    <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>


    <h2>Children's Privacy</h2>
    <p>Our Service does not address anyone under the age of 18 ("Children").</p>
    <p>We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>


    <h2>Changes To This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
    <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
    <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>


    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us:</p>
    <ul>
        <li>By email: office@sproperties.bg</li>

    </ul>-->

    
</div>