@{
    ViewBag.Title = "Цени на имотите - Имоти СПРОПЪРТИС";
}


@section css{
    <style>
        .help-links {
            list-style-type: none;
            position: relative;
            padding-left: 15px;
        }
    </style>
}

<div class="container" style="padding: 50px 0; text-align: center;">
    <div class="row">
        <div class="col-xs-12">
            <h1 style="margin-bottom: 20px;">Цените на имотите варират от много Фактори</h1>
            <h3>
                Някои от променливите определящи цената на имота са:
                <br />
                град, местонахождение, тип, изложение, година на стройтелство и много други.
            </h3>
            <h3>
                По наши наблюдение най-голямо влияние на цената е местоположнието на имот. <br />
                Дали имотът е в централната част или в краен квартал може да изключително влияние на цената.<br />
                Състоянието на имота също е главна съставка за определяне на цената на един имот. <br />
                Дали имотът е довършен с АКТ 16 или още в строеж с АКТ 14/15, дали е пред основен ремонт или след такъв.
            </h3>
            <h3>
                Това се отнася както за продаваните така и за отдаваните под наем имоти.<br />
                Ето как примерно един имот на центъра на града може да бъде 1200лв месечен наем, а имот със същите основни характеристики, но отдалечен от потока на хора може да бъде отдадено за 500лв. месечно.<br />
                Разбира се цените при помещенията отдавани под наем местоположението е далеч по важно <br /> заради целите с които се използват повечето от тях (бизнес цели).<br />
                За жилищните имоти отдавани под наем отново най-важно е местоположението на имота, както и в близост какви удобства има (метро,супермаркет...).
            </h3>
            <h3>
                При имотите, които се продават е много важно в какъв квартал се намира самият имот и също състоянието на имота.<br />
                Ето как един имот в Пловдив кв.Изгрев може да бъде с 2 до 3 пъти по-ниска цена от тези в Пловдив кв.Каршияк или друг квартал.<br />
            </h3>
            <h3>
                Нашата задача като брокери е да бъдем актуални с цените на имотите в градовете, които работим. Да уведомяваме клиентите си с промените в пазара,
                както и състоянието търсене/предлагане. Да даваме съвети на клиентите ни как да реализират най-добра сделка с подготвяне на имотът си за продажба или при търсене на имот, както за продаване така и за наемане.<br />
            </h3>
            <h3>
                Може да разчитате на нас за реализиране на най-добрата сделка с имота ви.<br />
                На изключително отговорно отношение и изясняване на всяка стъпка, която ще предприемем за да ви спестим време, неприятности и пари при разрешаване на вашето имотно желание.
            </h3>
            <h3>
                Отностно въпроси винаги може да разчитате на нас. Свържете се с въпрос и разчитайте на бърз отговор на въпроса си.<br />
                С нас може да се свържете от @Html.ActionLink("тук", "Contact", new {}, new { style = "color:red;text-decoration:underline;"})
            </h3>
        </div>
        <div class="col-xs-12">
            <h1 style="font-size: 32px; margin-bottom: 10px;">Или</h1>
            <h3>няколко линка, с които може да продължите.</h3>
            <div class="row">
                <ul class="col-xs-12 col-md-6 col-md-offset-3 help-links">
                    <li class="col-xs-6 col-md-4" style="float: left;">
                        <strong>&#x25ba; <a href="@Url.Action("Index","Home")">Начало</a></strong>
                    </li>
                    <li class="col-xs-6 col-md-4" style="float: left;">
                        <strong>&#x25ba; <a href="@Url.Action("Search","Properties")">Търсене</a></strong>
                    </li>
                    <li class="col-xs-6 col-md-4" style="float: left;">
                        <strong>&#x25ba; <a href="@Url.Action("Contact","Home")">Контакти</a></strong>
                    </li>
                    <li class="col-xs-6 col-md-4" style="float: left;">
                        <strong>&#x25ba; <a href="@Url.Action("Index","Properties")">Имоти</a></strong>
                    </li>
                    <li class="col-xs-6 col-md-4" style="float: left;">
                        <strong>&#x25ba; <a href="@Url.Action("Index","Forum")">Форум</a></strong>
                    </li>
                    <li class="col-xs-6 col-md-4" style="float: left;">
                        <strong>&#x25ba; <a href="@Url.Action("About","Home")">За нас</a></strong>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
